:root {
  --interactiv-color: #2196f3;
  --ourteam-background-color: #f5f4fa;
}
body {
  color: #212121;
  font-family: "Roboto", "Helvetica now", "Proxima Nova";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* ode berakni az 1200as pixelt*/
  max-width: 1200px;
  margin: 0 auto;
}

a:hover {
  color: var(--interactiv-color);
}
button:hover {
  color: #ffffff;
  background-color: var(--interactiv-color);
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.blue-logo {
  color: #2196f3;
  text-decoration: none;
}
.black-logo {
  color: #000000;
  text-decoration: none;
}
a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
}
.mail,
.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.footer {
  background-color: #2f303a;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.mail-bottom,
.tel-bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.title-container {
  background-color: #2f303a;
}
.title-index {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-request {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
}
.whatwedo > b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.whatwedo > dd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
figure > figcaption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.ourteam-section {
  background-color: var(--ourteam-background-color);
}

.control li,
.whatwedo-container,
.container-members {
  list-style-type: none;
}
/* elhelyezzuk vizszintes egyenes vonalba a header elemeit*/
.header-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.control {
  display: flex;
}

.control li a {
  margin: 0 50px;
}
.contacts {
  display: flex;
}
.contacts a {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
}

/*style portfolio  */
.button-portfolio {
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.buttons:hover {
  color: va(--interactiv-color);
  color: #ffffff;
}
.project-name {
  font-family: "Roboto";

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.project-category {
  font-family: "Roboto";

  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}
